div.login{
	background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 50%, rgb(5, 122, 183) 100%);
	padding: 10px 20px;
	margin: 0;
	text-align: right;	
}

input[type="submit"]{
	padding: 5px 10px;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	margin: 5px;
}

input[type="button"]{
	padding: 2px 15px;
    background: #92b3c3;
    font-weight: bold;
    cursor: pointer;
}

input[class="identificar"]{
	padding: 3px 10px 1px;
	outline: none;
	border:none;
	border-bottom: solid 1px black;
	border-radius: 4px;
}

input[class="identificar"]:focus{
	border-bottom: solid 4px grey;	
}

label.log{
	margin-left: 10px;
}

label#bienvenida{
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

input[type="submit"]:hover{
	color: white;	
	background-color: black;
	cursor: pointer;
}

div.login:hover{	
	animation-name: animarGradientes;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-iteration-count: 2;	
}

/* ************* Menu Principla *************** */

nav#menuPrincipal{
	background-color: #00070c;	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	width: 100%;
	padding: 10px 20px;
}

div.inicio{
	max-width: 400px;	
	margin-bottom: 5px;
	display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

div.menu{
	max-width: 800px;	
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;		
}

div.botmenu{
	max-width: 160px;	
	width: 100%;
	margin: 2px 7px;
	text-align: center;
	display: inline-block;
}

.btnBurger{
	display:none;
	width: 50px;
    color: white;
    border: solid 1px white;
    border-radius: 3px;
    padding: 0 4px;
    cursor:pointer;   
}

div.botmenu a{
	color: #7c7e82;
	text-decoration-line: none;
}

div.botmenu a:hover{
	color: black;
	font-weight: bold;
}

div.inicio a{
	color: #d0d6e2;
	text-decoration-line: none;
}

div.inicio a:hover{
	color: white;
	font-size: 1.8rem;

}

.btnBurger:hover{
	border-color:yellow;	
}

div.botmenu ul.lis{
	display: none;
}

div.botmenu ul.listas{
	max-width: 160px;
	width: 100%;	
	position: absolute;	
	background-color: #efebeb;
	padding: 3px;
	margin: 0;
	list-style-type: none;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	border-radius: 0 0 10px 10px;
}

div.botmenu ul li{
	padding: 5px 3px 1px;
	border-bottom: solid 1px gray;
}

div.inicio h2{
	padding: 0;
	margin: 0;
}

div.botmenu h4{
	min-width: 160px;
	padding: 8px 5px;
	margin: 0;	
	background-color: #504c4c;
	border-radius: 7px;
	color: #efebeb;
}

div.botmenu h4:hover{
	cursor: pointer;
	color:black;
	background-color: #efebeb;	
}

div.botmenu h4.on{
	cursor: pointer;
	color:black;
	background-color: #efebeb;
	border-radius: 7px 7px 3px 3px;
}

.boton{
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	background: #087aef;
	color:white;
	font-weight: bold;
	margin-top: 5px;
	margin-right:10px;
	display:block;
	text-align:center;
}

.boton:hover{	
	background: rgba(8, 122, 239, 0.6);
}

/* ****************** footer **************** */

footer{
	background-color: black;
	color: white;
	padding: 10px 15px;
}

footer>p{
	cursor: pointer;
}

footer form#formContacto{
	background-color: rgba(255, 255, 255, .08);
	padding: 10px 15px;
	max-width: 500px;
	width: 100%;
	border:solid 1px grey;
	border-radius: 10px;	
}

footer form.oculto{
	display: none;
}

footer ul.EntradasContacto{
	margin: 0;
	padding: 0;
	list-style-type: none;
		
}
ul.EntradasContacto li.empresaTel{
	display: inline-block;
	width: 40%;	
}

ul.EntradasContacto li label.labEntradas{
	display:block;
	color: grey;
	visibility: hidden;	
}

ul.EntradasContacto li label#condiciones a{
	color: white;
}

ul.EntradasContacto li input[class="infoEntradas"],
ul.EntradasContacto li textarea.infoEntradas{
	background-color: #a5a7a500;
	border:none;
	border-bottom: solid 1px yellow;
	color: white;
	width: 80%;
}

ul.EntradasContacto li input[class="infoEntradas Error"],
ul.EntradasContacto li textarea.Error{	
	background-color: #a5a7a500;
	border:none;
	border-bottom: solid 1px red;
	color: white;
	width: 80%;
}



ul.EntradasContacto li textarea#mensaje{
	height: 90px;
}

ul.EntradasContacto li input[class="infoEntradas"]:focus,
ul.EntradasContacto li textarea#mensaje:focus{
	outline: none;
	border-bottom: solid 2px orange;
	width: 100%;		
	animation-name: colorLinea;
	animation-duration: .7s;

}

ul.EntradasContacto li input[class="infoEntradas Error"]:focus{
	outline: none;
	border-bottom: solid 2px orange;
	width: 100%;		
	animation-name: colorLinea;
	animation-duration: .7s;
}

ul.EntradasContacto li textarea#mensaje:focus{
	height: 160px;
}

ul.EntradasContacto li{
	margin-top: 10px;
}

p.ErrorEnvio{
	color: red;
	text-decoration-line: underline;
	animation-name: colores;
	animation-duration: .5s;
}

span.enEspera{
	font-size: 35px;
	animation-name: colores;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
}

p.envioCorrecto{
	animation-name: colores;
	animation-duration: 2.5s;	
}

ul.EntradasContacto li.contBoton{
	text-align: right;	
}


/* *********************** @keyframes **************************  */
@keyframes colorLinea{
	from{border-bottom: solid 1px red; width: 70%;}
	to{border-bottom: solid 2px orange; width: 100%;}
}

@keyframes colores{
	from{color: black;}
	to{color: white;}
}

@keyframes animarGradientes{
	0%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 50%, rgb(5, 122, 183) 100%);}
	5%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 55%, rgb(5, 122, 183) 100%);}
	10%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 60%, rgb(5, 122, 183) 100%);}
	15%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 65%, rgb(5, 122, 183) 100%);}
	20%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 70%, rgb(5, 122, 183) 100%);}
	25%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 75%, rgb(5, 122, 183) 100%);}
	30%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 80%, rgb(5, 122, 183) 100%);}
	35%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 85%, rgb(5, 122, 183) 100%);}
	40%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 90%, rgb(5, 122, 183) 100%);}
	450%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 95%, rgb(5, 122, 183) 100%);}
	500%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 100%, rgb(5, 122, 183) 100%);}
	55%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) -5%, rgb(5, 122, 183) 100%);}
	57%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 3%, rgb(5, 122, 183) 100%);}
	60%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 5%, rgb(5, 122, 183) 100%);}
	65%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 10%, rgb(5, 122, 183) 100%);}
	70%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 15%, rgb(5, 122, 183) 100%);}
	75%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 20%, rgb(5, 122, 183) 100%);}
	80%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 25%, rgb(5, 122, 183) 100%);}
	85%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 30%, rgb(5, 122, 183) 100%);}
	90%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 35%, rgb(5, 122, 183) 100%);}
	95%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 40%, rgb(5, 122, 183) 100%);}
	100%{background: linear-gradient(45deg, rgb(16, 66, 90) 0%, rgb(213, 237, 249) 45%, rgb(5, 122, 183) 100%);}
	
}

/* *********************** @media Queries **************************  */

@media screen and ( max-width:  760px ){
	div.inicio{
		width:100%;
		padding:0 30px;
	}
	div.menu{		
		display:none;
	}
	div.botmenu{
		display:block;
	}
	
	.btnBurger{
		display:block;		
	}
}